absl-py
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
django-crispy-forms
django-jazzmin
djangorestframework
docopt
executing
fastjsonschema
filelock
flatbuffers
fqdn
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
networkx
notebook
notebook_shim
numpy
oauthlib
opencv-python
opt-einsum
overrides
p2j
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipreqs
platformdirs
prometheus-client
prompt-toolkit
python-dateutil
python-json-logger
pytz
pytz-deprecation-shim
pywin
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
Send2Trash
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
toml
toolz
torch
tornado
tqdm

